extend layout

block content
  if chats && chats.length > 0
    - var dataString = JSON.stringify(chats);
    div.chat-data(style='display:none')= dataString
  form(method='post', id='add-chat-form')
    input(type='hidden', name='picture', id='picture')
    .message-content
      input(name='message', id='add-chat', class='input', maxlength='250', autocomplete='off', placeholder='Write a message')
      input(type='hidden', name='_csrf', value='#{csrf}')
      input(type='hidden', name='fingerprint', id='fp')
      input(type='hidden', name='userid', id='userid')
      #add-chat-blocker.hidden
        span Sending...
  #counter 500